<!doctype html>
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0">
<head>
    <%include partials/head.ejs %>
</head>
<body>

<header>

</header>
<%=users[0].username

%>

<footer>
    <%include partials/footer.ejs %>
</footer>
</body>
</html>